.box {
  background-image: url(images/images.jpeg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: left;
}
form {
  width: 300px;
  padding: 40px;
  position: absolute;
  margin: 50px;
  background-color: rgb(142, 172, 119);
  text-align: left;
}
input[type="number"],
[type="radio"],
[type="text"] {
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
h4 {
  float: left;
}
.button {
  background-color: white;
  border: none;
  color: black;
  margin: 15px;
  padding: 15px 15px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
}
.button:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 10px yellowgreen;
}
p {
  text-align: left;
  display: block;
}
